<div id="change_flag" hidden>{{iteration_id}}</div>  
{% for index, posts in posts.iterrows() %}
  <div class = "post_wrap">  
{% if posts['post_score'] <= 0 %}
  <div class="post_box border border-0">
{% elif posts['post_score'] >= 5 %}
  <div class="post_box border border_positive border-5">
{% else %}
  <div class="post_box border border_positive border-{{posts['post_score']}}">
{% endif %} 
  
  
{% if (posts['media_id'] in photos.media_id.values) %}
  {% for key, photo in photos.iterrows() %}
      {% if photo['media_id'] == posts['media_id'] %}
        <div id = "img_container" style="background-color: #f0f0f0; padding-bottom: {{photo['bottom-padding']}}%;">
          <img src="https://hideawayy.s3.amazonaws.com/media/{{photo['photo_url']}}" alt="An image uploaded by a user" >
        </div>

      {% else %}
   
      {% endif %}  
  {% endfor %}
{% endif %}


  {% if (posts['media_id'] in photos.media_id.values) %}
      <div class = "post_inner" style = "border-radius: 0px 0px 10px 10px;">
    {% else %}  
      <div class = "post_inner">
  {% endif %}       

      <div class = "badge" style="background: conic-gradient(from 133deg, #5adbf0, {{posts['user_color']}}, #5adbf0);">
        <div class = "badge_inner"> </div>
      </div>
      
      <div style= 'height: 15px;'>
        {% if posts['post_score'] < 0 %}
        <span class= "post_person" opacity=".45">{{posts['first_name']}} </span>
        {% else %}
        <span class= "post_person">{{posts['first_name']}} </span>
        {% endif %} 
        

          <div class = 'controls'>
            <div class = 'arrows'>
              
            <form id="form_vote" title="" action= "/camp_load/{{ camp_id }}" method= "post" class= "form_arrows">
              <input class= hidden id = "update_type" name= "update_type" value = "post_vote">  
              <input class= hidden id = "post_vote" name= "post_vote" value = -1>
              <input type="hidden" id = "post_id" name= "post_id" value={{posts['post_id']}} >
              {% if posts['current_user_score'] <= -1 %}
              <button id= "vote_submit" style = "color:#424242;" type="submit" class="arrow_button" disabled>
                <i class="fas fa-caret-square-down"></i>
                {% else %}
              <button id= "vote_submit" type="submit" class="arrow_button">
                <i class="fas fa-caret-square-down"></i>
                {% endif %} 
              </button>
            </form>
            </div>
            
            <div class = "score">
           
            </div>    
                    
            <div class = "arrows">
            <form id="form_vote" title="" action="/camp_load/{{ camp_id }}" method="post" class = "form_arrows">
              <input class= hidden name= "update_type" value = "post_vote">  
              <input class= hidden name= "post_vote" value = 1>
              <input type="hidden" name= "post_id" value={{posts['post_id']}} >
              <input class= hidden name= "post_vote" value = 1>
              {% if posts['current_user_score'] >= 1 %}
              <button id= "vote_submit" style = "color:#424242;" type="submit" class="arrow_button" disabled>
                <i class="fas fa-caret-square-up"></i>
                {% else %}
              <button id= "vote_submit" type="submit" class="arrow_button">
                <i class="fas fa-caret-square-up"></i>
                {% endif %} 
              </button>
            </form> 
           </div>
          </div>  
      </div>
      <div id="result"></div>
      <div>
        <span class= "post_time">{{posts['creation_time']}}</span>
      </div>
      <div class = "post_text" style="post_score:{{posts['post_score']}};">
        
          {% if posts['post_score'] >= 0 %}
            <span  style="Score:{{posts['post_score']}}"> 
          {% elif posts['post_score'] <= -4 %}
            <span  style="font-size:1px; Score:{{posts['post_score']}}"> 
          {% else %}
            <span  style="font-size:{{10 + (posts['post_score'] * 2)}}px;Score:{{posts['post_score']}}"> 
          {% endif %} 
            {{posts['post_text']}}
            </span>
      </div>

    
    </div>  
  
</div>   

      {% for key, reply in replys.iterrows() %}
      {% if reply['reply_to_id'] == posts['post_id']%}
  
  {% if reply['post_score'] <= 0 %}
  <div class="reply_box reply_border border-0">
  {% elif reply['post_score'] >= 5 %}
  <div class="reply_box reply_border border_positive border-5">
  {% else %}
  <div class="reply_box reply_border border_positive border-{{reply['post_score']}}">
  {% endif %} 

      
        <div class = "reply_inner">
          <div class = "badge" style="background: conic-gradient(from 133deg, #5adbf0,  {{reply['user_color']}}, #5adbf0);margin-top: 3px;">
            <div class = "badge_inner"> </div>
          </div>
          
          {% if reply['post_score'] < 0 %}
          <span class= "post_person" style="opacity: .45;">{{reply['first_name']}}</span>
          {% else %}
          <span class= "post_person">{{reply['first_name']}}</span>
          {% endif %} 
          <div class = 'controls2'>
            <div class = 'arrows'>
              
              <form id="form_vote" action="/camp_load/{{ camp_id }}" method="post" class = "form_arrows">
                
                <input class= hidden name= "update_type" value = "post_vote">  
                <input class= hidden name= "post_vote" value = -1>
                <input type="hidden" name= "post_id" value={{reply['post_id']}} >
                {% if reply['current_user_score'] <= -1 %}
                <button id= "vote_submit" style = "color:#424242;" type="submit" class="arrow_button" disabled>
                  <i class="fas fa-caret-square-down"></i>
                  {% else %}
                <button id= "vote_submit" type="submit" class="arrow_button">
                  <i class="fas fa-caret-square-down"></i>
                  {% endif %} 
                </button>
              </form>
            </div>
            
            <div class = "score">
     
            </div>    
                    
            <div class = "arrows">
              <form id="form_vote" action="/camp_load/{{ camp_id }}" method="post" class = "form_arrows">
                <input class= hidden name= "update_type" value = "post_vote">  
                <input class= hidden name= "post_vote" value = 1>
                <input type="hidden" name= "post_id" value={{reply['post_id']}} >
                {% if reply['current_user_score'] >= 1 %}
                <button id= "vote_submit" style = "color:#424242;" type="submit" class="arrow_button" disabled>
                  <i class="fas fa-caret-square-up"></i>
                  {% else %}
                <button id= "vote_submit" type="submit" class="arrow_button">
                  <i class="fas fa-caret-square-up"></i>
                  {% endif %} 
                </button>
              </form> 
            </div>
          </div>

          



          <div class = "reply_text">
            {% if reply['post_score'] >= 0 %}
              <span  style="Score:{{reply['post_score']}}"> 
            {% elif posts['post_score'] <= -4 %}
              <span  style="font-size:3px; Score:{{reply['post_score']}}"> 
            {% else %}
              <span  style="font-size:{{13 + (reply['post_score'] * 2)}}px; Score:{{reply['post_score']}}"> 
            {% endif %} 
              {{reply['post_text']}}
              </span>
              
          </div>
      </div> 
    </div>
      

      {% endif %}
    {% endfor %}
  <button class = "reply_expand" id = "reply_button_{{index}}" value = '{{index}}' onclick="reply_reveal(this.value)"> + </button>  

  <div id = reply_{{index}} style="display:none" class="reply_box reply_border border-0">
      <div class = "reply_inner">
         <div class = "user_badge">
          <div class = "badge_inner"> </div>
         </div>
      
    <div style= "padding-top:5px;padding-bottom:5px;">
      <form action="/camp_load/{{ camp_id }}" method="post" class = "reply_form" >
        <input class= hidden name= "update_type" value = "post_text">  
        <input id = reply_{{index}}_input class= reply_input type="textbox"  name= "post_text" placeholder="Reply..">
        <input type="hidden" name= "reply_to_id" value={{posts['post_id']}} >
        <input type="hidden" name= "type" value="2">
        <input type="submit" style="visibility:hidden;position:absolute;">
          
      </form> 
    </div>
      </div> 
    </div>
  </div>  
  <hr style="margin-top: 14px;margin-bottom: 10px;">
  {% endfor %}
</div>

