<div id="change_flag" hidden>{{iteration_id}}</div>  
{% for index, posts in posts.iterrows() %}
  <div class = "post_wrap">  
{% if posts['post_score'] <= 0 %}
  <div class="post_box border border-0">
{% elif posts['post_score'] >= 5 %}
  <div class="post_box border border_positive border-5">
{% else %}
  <div class="post_box border border_positive border-{{posts['post_score']}}">
{% endif %} 
  
  
{% if (posts['media_id'] in photos.media_id.values) %}
  {% for key, photo in photos.iterrows() %}
      {% if photo['media_id'] == posts['media_id'] %}
        <div id = "img_container" style="padding-bottom: {{photo['bottom-padding']}}%;">
          <img src="https://hideawayy.s3.amazonaws.com/media/{{photo['photo_url']}}" alt="An image uploaded by a user" >
        </div>

      {% else %}
   
      {% endif %}  
  {% endfor %}
{% endif %}


  {% if (posts['media_id'] in photos.media_id.values) %}
      <div class = "post_inner" style = "border-radius: 0px 0px 10px 10px;">
    {% else %}  
      <div class = "post_inner">
  {% endif %}       

      <div class = "badge" style="background: conic-gradient(from 133deg, #5adbf0, {{ posts['user_color']}}, #5adbf0);">
        <div class = "badge_inner"> </div>
      </div>
      
      <div style= 'height: 15px;'>
        {% if posts['post_score'] < 0 %}
        <span class= "post_person" opacity=".45">{{posts['first_name']}} </span>
        {% else %}
        <span class= "post_person">{{posts['first_name']}} </span>
        {% endif %} 
        
      </div>
      <div id="result"></div>
      <div>
        <span class= "handle"><span style="font-size:14px;margin-right:1px;">@</span>{{posts['handle']}}</span>
      </div>
      <div class = "post_text" style="post_score:{{posts['post_score']}};">
        
          {% if posts['post_score'] >= 0 %}
            <span  style="font-size:18px; Score:{{posts['post_score']}}"> 
          {% elif posts['post_score'] <= -4 %}
            <span  style="font-size:1px; Score:{{posts['post_score']}}"> 
          {% else %}
            <span  style="font-size:{{18 + (posts['post_score'] * 2)}}px;Score:{{posts['post_score']}}"> 
          {% endif %} 
            {{posts['post_text']}}
            </span>
      </div>
      <div class = "post_icons">

      <button class = "reply_button" id = "reply_button_{{posts['post_id']}}" value = '{{posts['post_id']}}' onclick="reply_reveal(this.value)">
        <span style="font-size:15px; opacity:.69; margin-left:7px"><i style="font-size: 17px;" class="far fa-comment"></i> {{posts['reply_count']}}</span>
      </button>  
      
      
      <form id="form_vote" title="" action= "/load" method= "post" class= "form_arrows">
        <input class= hidden id = "update_type" name= "update_type" value = "post_vote">  
        <input class= hidden id = "post_vote" name= "post_vote" value = -1>
        <input type="hidden" id = "post_id" name= "post_id" value={{posts['post_id']}} >
        {% if posts['current_user_score'] <= -1 %}
        <button id= "vote_submit" style = "color:#181818;" type="submit" class="arrow_button" disabled>
          <span style="font-size:17px; margin-left:22px"><i style="font-size: 17px;" class="fas fa-caret-down"></i> {{posts['down_votes']}}</span>
          {% else %}
        <button id= "vote_submit" type="submit" class="arrow_button">
          <span style="font-size:17px; opacity:.69; margin-left:22px"><i style="font-size: 17px;" class="fas fa-caret-down"></i> {{posts['down_votes']}}</span>
          {% endif %} 
        </button>
      </form>

      <form id="form_vote" title="" action="/load" method="post" class = "form_arrows">
        <input class= hidden name= "update_type" value = "post_vote">  
        <input class= hidden name= "post_vote" value = 1>
        <input type="hidden" name= "post_id" value={{posts['post_id']}} >
        <input class= hidden name= "post_vote" value = 1>
        {% if posts['current_user_score'] >= 1 %}
        <button id= "vote_submit" style = "color:#181818;" type="submit" class="arrow_button" disabled>
          <span style="font-size:17px; margin-left:22px"><i style="font-size: 17px;" class="fas fa-caret-up"></i> {{posts['up_votes']}}</span>
          {% else %}
        <button id= "vote_submit" type="submit" class="arrow_button">
          <span style="font-size:17px; opacity:.69; margin-left:22px"><i style="font-size: 17px;" class="fas fa-caret-up"></i> {{posts['up_votes']}}</span>
          {% endif %} 
        </button>
      </form> 
      </div>
    </div>  
</div>   

<div id = reply_{{posts['post_id']}} style="display:none" class="reply_box reply_border border-0">
  <div class = "reply_inner">
    <div class = "user_badge">
      <div class = "badge_inner"> </div>
    </div>
      
    <div style= "padding-top:5px;padding-bottom:5px;">
      <form action="/load" method="post" class = "reply_form" >
        <input class= hidden name= "update_type" value = "post_text">  
        <input id = reply_{{posts['post_id']}}_input class= reply_input type="textbox"  name= "post_text" placeholder="Reply..">
        <input type="hidden" name= "reply_to_id" value={{posts['post_id']}} >
        <input type="hidden" name= "type" value="2">
        <input type="submit" style="visibility:hidden;position:absolute;">
          
      </form>
    </div>
  </div>
</div>

{% for key, reply in replys.iterrows() %}
{% if reply['reply_to_id'] == posts['post_id']%}
  
<div class = "post_wrap">  
  {% if reply['post_score'] <= 0 %}
    <div class="reply_box border border-0">
  {% elif reply['post_score'] >= 5 %}
    <div class="reply_box border border_positive border-5">
  {% else %}
    <div class="reply_box border border_positive border-{{reply['post_score']}}">
  {% endif %} 
    

    {% if (reply['media_id'] in photos.media_id.values) %}
        <div class = "post_inner" style = "border-radius: 0px 0px 10px 10px;">
      {% else %}  
        <div class = "post_inner">
    {% endif %}       

        <div class = "badge" style="background: conic-gradient(from 133deg, #5adbf0, {{ reply['user_color']}}, #5adbf0);">
          <div class = "badge_inner"> </div>
        </div>
        
        <div style= 'height: 15px;'>
          {% if reply['post_score'] < 0 %}
          <span class= "post_person" opacity=".45">{{reply['first_name']}} </span>
          {% else %}
          <span class= "post_person">{{reply['first_name']}} </span>
          {% endif %} 
        
        </div>
        <div id="result"></div>
        <div>
          <span class= "handle"><span style="font-size:14px;margin-right:1px;">@</span>{{reply['handle']}}</span>
        </div>
        <div class = "post_text" style="post_score:{{reply['post_score']}};">
          
            {% if reply['post_score'] >= 0 %}
              <span  style="font-size:18px; Score:{{reply['post_score']}}"> 
            {% elif reply['post_score'] <= -4 %}
              <span  style="font-size:1px; Score:{{reply['post_score']}}"> 
            {% else %}
              <span  style="font-size:{{18 + (reply['post_score'] * 2)}}px;Score:{{reply['post_score']}}"> 
            {% endif %} 
              {{reply['post_text']}}
              </span>
        </div>
        <div class = "post_icons">

        <button class = "reply_button" id = "reply_button_{{reply['post_id']}}" value = '{{reply['post_id']}}' onclick="reply_reveal(this.value)">
          <span style="font-size:15px; opacity:.69; margin-left:7px"><i style="font-size: 17px;" class="far fa-comment"></i> {{reply['reply_count']}}</span>
        </button>  
        
        <form id="form_vote" title="" action= "/load" method= "post" class= "form_arrows">
          <input class= hidden id = "update_type" name= "update_type" value = "post_vote">  
          <input class= hidden id = "post_vote" name= "post_vote" value = -1>
          <input type="hidden" id = "post_id" name= "post_id" value={{reply['post_id']}} >
          {% if reply['current_user_score'] <= -1 %}
          <button id= "vote_submit" style = "color:#181818;" type="submit" class="arrow_button" disabled>
            <span style="font-size:17px; margin-left:22px"><i style="font-size: 17px;" class="fas fa-caret-down"></i> {{reply['down_votes']}}</span>
            {% else %}
          <button id= "vote_submit" type="submit" class="arrow_button">
            <span style="font-size:17px; opacity:.69; margin-left:22px"><i style="font-size: 17px;" class="fas fa-caret-down"></i> {{reply['down_votes']}}</span>
            {% endif %} 
          </button>
        </form>

        <form id="form_vote" title="" action="/load" method="post" class = "form_arrows">
          <input class= hidden name= "update_type" value = "post_vote">  
          <input class= hidden name= "post_vote" value = 1>
          <input type="hidden" name= "post_id" value={{reply['post_id']}} >
          <input class= hidden name= "post_vote" value = 1>
          {% if reply['current_user_score'] >= 1 %}
          <button id= "vote_submit" style = "color:#181818;" type="submit" class="arrow_button" disabled>
            <span style="font-size:17px; margin-left:22px"><i style="font-size: 17px;" class="fas fa-caret-up"></i> {{reply['up_votes']}}</span>
            {% else %}
          <button id= "vote_submit" type="submit" class="arrow_button">
            <span style="font-size:17px; opacity:.69; margin-left:22px"><i style="font-size: 17px;" class="fas fa-caret-up"></i> {{reply['up_votes']}}</span>
            {% endif %} 
          </button>
        </form> 

        </div>
      </div>  
  </div>   
  
  <div id = reply_{{reply['post_id']}} style="display:none" class="reply_box reply_border border-0">
    <div class = "reply_inner">
      <div class = "user_badge">
        <div class = "badge_inner"> </div>
      </div>
        
      <div style= "padding-top:5px;padding-bottom:5px;">
        <form action="/load" method="post" class = "reply_form" >
          <input class= hidden name= "update_type" value = "post_text">  
          <input id = reply_{{reply['post_id']}}_input class= reply_input type="textbox"  name= "post_text" placeholder="Reply..">
          <input type="hidden" name= "reply_to_id" value={{reply['post_id']}} >
          <input type="hidden" name= "type" value="2">
          <input type="submit" style="visibility:hidden;position:absolute;">
            
        </form>
      </div>
    </div>
  </div>
      {% endif %}
    {% endfor %}
  


  {% endfor %}
</div>