<!DOCTYPE html>
<html>

<body>
  {% block body %}

    {% if posts|length == 0 %}
    <div style="font-size:20px;font-weight:600;margin-top:20px;" class = "post_box border">
      <div class = "post_inner">
        <div class = "post_wrap">
          <div id = post_0 class="post_box border border-0">
      This is the begining of your Attabit feed. 
      <br>
      <br>
      If this is all you see, head over to the <a href = "/search" style = "text-decoration: underline;" >leaderboard</a> or <a href = "/today" style = "text-decoration: underline;" >top page</a> to find people to follow.
          </div>
        </div>    
      </div>
    </div>

    {% else %}
    {% endif %}

     {% for index, posts in posts.iterrows() %}
    
      <div class = "post_wrap">
      <div id = post_{{posts['post_id']}} class="post_box border border-0">

        <div id= "post_inner_{{posts['post_id']}}" class = "post_inner">

        {% if posts['user_id'] == current_user_id %}
        <form id="post_delete" class= "post_delete" title="" action= "/post_delete/{{posts['post_id']}}" method= "post" >
          <input class= hidden id = "update_type" name= "update_type" value = "post_delete">  
          <button class = "delete_button" type="submit">
            <i class="far fa-times-circle"></i>
          </button>  
        
        </form>
        {% else %}  
        {% endif %}  
   
        <div class = "post_info_box" onclick="window.location='/post/{{posts['post_id']}}'" style="cursor: pointer;" tabindex="1">
            <a class= "profile_link" href = "/@{{posts['handle']}}">
              <div class = "badge" style = "background-image:url('https://hideawayy.s3.amazonaws.com/media/{{ posts['profile_photo'] }} ');">
                
              </div>
            </a>  
            
            <div class = "handle_score_box">
              <div style= 'height: 18px;'>
                <a class= "profile_link" href = "/@{{posts['handle']}}">
                <span class= "handle"><span style="font-size:14px;margin-right:1px;"></span>{{posts['handle']|emojify|safe}} {% if posts['is_president'] == True %} <i class="fas fa-chess-king president_crown" ></i> {% endif %}</span>
                </a>  
                <span class="level_details">lvl {{posts['user_score']}}</span><span class="time_details">{{posts['time_ago']}}</span>



              </div>

                <div class = "post_text">
                  <span  style="white-space: pre-wrap;" >{{ posts['post_text']|linkify|urlize(30, true)|emojify|safe }}</span> 
                </div>
            </div>
        </div>
    
        {% if posts['post_length_flag'] == 1 %}
        <div style="padding-bottom:5px;margin-bottom: 10px; font-weight:600; opacity: .40; text-align:center;">
          ------------- more -------------
        </div>
        {% endif %}

          <div class = "post_icons">
            
              <div style= "width:30%">  
                <a class="post_link" href = "/post/{{posts['post_id']}}">    
                <button class = "reply_button" id = "reply_button_{{posts['post_id']}}" value = '{{posts['post_id']}}'>
                  <span class = "_8bit_button" style="font-size:15px; opacity:.69; margin-left:7px"><i style="font-size: 17px;" class="far fa-comment"></i> {{posts['reply_count']}}</span>
                </button>  
                </a>  
              </div>
            
              <div style= "width:30%">
                <form id="{{posts['post_id']}}" title="" action= "/quickvote" method= "post" class= "form_arrows">
                  
                  <input type="hidden" id = "post_id" name= "post_id" value={{posts['post_id']}} >
                  {% if posts['current_user_vote'] <= -1 %}
                  
                  <input id = "down_vote_value_{{posts['post_id']}}" class= hidden name= "post_vote" value = 0>
                  <button id= "down_submit_{{posts['post_id']}}"  type="submit" class="arrow_button" {% if posts['user_id'] == current_user_id %} class="arrow_button" disabled {% else %} class="arrow_button" {% endif %}>
                    <span id = "down_vote_wrapper_{{posts['post_id']}}" style="margin-left:22px" class = "pre_vote voted_button"><i style="font-size: 17px;" class="fas fa-caret-down"></i> <span class = "_8bit_button" id="down_vote_text_{{posts['post_id']}}">{{posts['down_votes']}}</span></span>
                  </button>  
                    {% else %}
                  
                  <input id = "down_vote_value_{{posts['post_id']}}" class= hidden name= "post_vote" value = -1>  
                  <button id= "down_submit_{{posts['post_id']}}" type="submit" class="arrow_button" {% if posts['user_id'] == current_user_id %} class="arrow_button" disabled {% else %} class="arrow_button" {% endif %}>
                    <span id = "down_vote_wrapper_{{posts['post_id']}}" style="margin-left:22px" class = "pre_vote"><i style="font-size: 17px;" class="fas fa-caret-down"></i> <span class = "_8bit_button" id="down_vote_text_{{posts['post_id']}}">{{posts['down_votes']}}</span></span>
                  </button>  
                    {% endif %} 
                  
                </form>
              </div>

              <div style= "width:30%">
                <form id="{{posts['post_id']}}" title="" action="/quickvote" method="post" class = "form_arrows">
                  
                  <input type="hidden" name= "post_id" value={{posts['post_id']}} >
                  {% if posts['current_user_vote'] >= 1 %}
                  
                  <input id = "up_vote_value_{{posts['post_id']}}" class= hidden name= "post_vote" value = 0>
                  <button id= "up_submit_{{posts['post_id']}}"  type="submit" class="arrow_button" {% if posts['user_id'] == current_user_id %} class="arrow_button" disabled {% else %} class="arrow_button" {% endif %}>
                    <span id = "up_vote_wrapper_{{posts['post_id']}}" style="margin-left:22px" class = "pre_vote voted_button"><i style="font-size: 17px;" class="fas fa-caret-up"></i> <span class = "_8bit_button" id="up_vote_text_{{posts['post_id']}}">{{posts['up_votes']}}</span></span>
                  </button>  
                    {% else %}

                  <input id = "up_vote_value_{{posts['post_id']}}" class= hidden name= "post_vote" value = 1>  
                  <button id= "up_submit_{{posts['post_id']}}" type="submit" class="arrow_button" {% if posts['user_id'] == current_user_id %} class="arrow_button" disabled {% else %} class="arrow_button" {% endif %}>
                    <span id = "up_vote_wrapper_{{posts['post_id']}}" style="margin-left:22px" class = "pre_vote"><i style="font-size: 17px;" class="fas fa-caret-up"></i> <span class = "_8bit_button" id="up_vote_text_{{posts['post_id']}}">{{posts['up_votes']}}</span></span>
                  </button>  
                    {% endif %} 
                  </button>
                </form>
              </div>
          </div>
        </div>  
      </div>



    {% endfor %}
  </div>

{% endblock %}    

</body>
</html>