<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <title>Attabit</title>
</head>

{% block body %}


<body style="z-index: 0;font-size:14px;font-family: 'Inter';background-color: transparent;">

<div style="max-width: 650px;min-width: 300px;margin-top: 25px;padding: 25px;">

  <div style="margin-bottom: 25px;">
    <img style = "max-height: 40px;" src='https://www.attabit.com/static/attabit.png'>
  </div>
  <hr>
  <div class="email_text" style="font-size: 18px;font-weight: 400;margin-top: 25px;margin-bottom: 25px;">
    <h3 style="margin-bottom: 30px;">Password Reset</h3>

    <p>Hi,</p>
    <p> We received a request to reset your password. 
      If this was you, please click below to reset your password and sign into your account: </p>
    
    <div style="text-align: center;">
      <a href='www.attabit.com/account/password/reset/confirm?token={{token}}'>
        <button style="background: linear-gradient(46deg, #f89b29ce, #ff1cadce);background-size: 125% auto;  color: white; border: none;border-radius: 10px;padding: 10px;font-size: 16px;font-weight: 600;margin-top: 10px;margin-bottom: 25px;width: 45%; font-size: 20px;">
            Reset Password
        </button>
      </a>
    </div>
    <p>If this was not you, please ignore this email. Your password will not be changed.</p>

    <p>Thanks!</p>
    <p>Attabit Team</p>
  </div>
</div>


{% endblock %}   
</body>
</html>